html, body {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.container {
    height: 100%;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}


/* HEADER STYLES */
.header {
    background-color: #fff;
    grid-column: 2 / 3;

    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 0 30px;
    position: relative;
    padding-bottom: 10px;
    column-gap: 16px;
    row-gap: 16px;
}

.search-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
}

.search-icon {
    align-self: center;
}

input[type="search"] {
    width: 100%;
    padding: 0.2rem;
    border-radius: 1rem;
    border: 1px solid #000;
    justify-self: center;

}

.account-info {
    display: grid;
    grid-template-columns: 3fr 1fr 4fr;
    justify-items: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.account-bell {
    justify-self: end;
}

.account-avatar {
    background-color: yellow;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.account-name {
    font-size: 0.8rem;
    font-weight: bold;
    justify-self: start;

}

.user-avatar {
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
}

.user-info {
    justify-self: start;

    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 5px;
}

.account-actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.header button {
    padding: 0.4rem 0.5rem;
    width: 4.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #1992D4;
    color: #fff;
    cursor: pointer;
}


/* SIDEBAR STYLES */
.sidebar {
    background-color: #1992D4;
    grid-row: 1/3;
    color: #fff;
}

.sidebar-nav {
    display: grid;
    gap: 40px;
    padding: 20px 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    display: grid;
    gap: 10px;
}

.nav-links > li {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 15px;
}

.nav-links i {
    justify-self: center;
    font-size: 1rem;
    color: #fff;
}

.nav-links a {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.main-content {
    background-color: #f2f2f2;
}
