html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #fff;
}

.sidebar {
    background-color: aqua;
}

.main-content {
    background-color: #f2f2f2;
}